body {
	background: #000000;
	color: #00ff00;
}
h1 {
	font-family: Monotype Corsiva;
	text-decoration: none;
	text-align: center;
}
h1:hover {
	color: #dd0000;
}
table {
	border: 1px solid #000;
}
a {
	color: #dd0000;
	text-decoration: none;
}
a:hover {
	color: #00ccff;
}
.ganteng {
	font-family: Arial;
	color: #ffffff;
}
h3 {
	font-family: Monotype Corsiva;
	text-align: center;
	text-decoration: none;
}
h3:hover {
	color: #dd0000;
}
img {
	float: left;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 0px;
}
#lala {
	background: #111111;
}
input {
	background: transparent;
	color: white;
	border: 1px solid #fff;
}
textarea {
	background: transparent;
	color: white;
	resize: none;
}